@{
    ViewData["Title"] = "Startseite";
   
}

<head>

    <link rel="stylesheet" href="~/css/Index.css" />

</head>


<header>
   

</header>


<body>

    <div class="text-center">
        <h1 class="display-4">Startseite</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


</body>

