@model Database_Web_Application.Models.Users

<head>
    <link rel="stylesheet" href="~/css/UserLogin_New.css" />

</head>




<header>
    <meta charset="utf-8" />
</header>

<body>

    <form asp-action="VerifyLogin">
    <div class="wrapper">
        <div class="UserLoginBox">


            <div class="lbl_Username">
                <input type="text" class="input-field" asp-for="Username" required  />
                <label>E-Mail</label>
            </div>

            <div class="lbl_Password">
                <input type="password" class="input-field" asp-for="Password" required />
                <label>Passwort</label>
            </div>

            <div class="button_login">
                <input type="submit" value="Login"/>
            </div>

            <button class="Register">Register</button>

        </div>
    </div>
    </form>








</body>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }*@