body {
    background-image: url("../Pictures/pexels-pixabay-531880.jpg");
    background-position: center;
    background-size: cover;
}


.wrapper {
    display: flex;
    justify-content: center; /*Vertikal*/
    align-items: center; /*Horizontal*/
    height: auto;
    min-height: 100vh;
}


.UserLoginBox {
    position: relative;
    align-content: center;
    text-align: center;
    width: 450px;
    height:auto;
    backdrop-filter: blur(10px);
    border: 2px solid black;
    border-radius: 25px;
}

.lbl_Username,
.lbl_Password {
    margin-top: 10px;
    margin-bottom: 10px;
}



input[type=submit] {
    border: none;
    border-radius: 8px;
    margin-bottom:5px;
    margin-right:20px;

}

input[type="text"]
{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
input[type="password"] 
{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left:18px;
    box-sizing: border-box;

}

