    <link rel="stylesheet" href="~/css/Index.css">

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Beispiel HTML</title>


</head>
<body>
    <h4 id="Startseite">Startseite</h4>
    <p>Dies ist eine Beispiel-Seite.</p>
</body>
</html>

